/* DEFAULTS */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: lightgray;
    height: 80px;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
}

   header a {
    color: lightgray;
    transition: all .2s;
   }

   header a:hover {
    color: white;
   }

   header p{
    padding-left: 15px;
    font-size: x-large;
    font-weight: bold;
   }

.hamburger{
  display: none;
  font-size: 2rem;
  background: none;
  color: lightgray;
  border: none;
  cursor: pointer;
  transition: all .2s;
  margin-right: 20px
}

.hamburger:hover{
  color: white;
}

.btn{
  padding: 10px 15px;
  font-size: 20px;
  background-color: rgb(80, 156, 255);
  color: white;
  border-radius: 5px;
  transition: .3s;
}

.btn:hover{
  background-color: rgb(36, 36, 74);
}

/* MOBILE STYLES */

@media (max-width: 770px) {
  header p{
    font-size: 20px;
  }

  .nav-links {
    position: absolute;
    top: 80px; /* directly below header */
    right: 0;
    width: auto;
    background-color: black;
    z-index: 10;
    border-bottom-left-radius: 20px;

    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 20px;
    gap: 10px;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .nav-links.show {
    max-height: 500px;
  }

  .nav-links li {
    padding-bottom: 20px;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 771px) {
  .nav-links {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-links li {
    display: inline;
    padding-inline: 20px;
    font-size: large;
  }
}

main {
    background-image: url(Images/Semi\ 1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*To auto fill background image to view height*/
    background-position: center;
    flex: 1; /*To auto fill background image to view height*/
    position: relative;
    z-index: 0;
}

footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: lightgray;
    bottom: 0px;
    text-align: center;
}

/* Background Haze */

main.services::before,
main.locations::before,
main.contact::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.2); /* light fog */
    backdrop-filter: blur(4px); /* actual blur effect */
    z-index: 0; /* sits below your content */
    pointer-events: none;
  }

  /* HOME PAGE */

  .home-banner{
    background-color: white;
    position: absolute;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:rgb(161, 161, 161);
    text-align: center;
  }

  .book-now {
    display: flex;
    justify-content: center;
    margin-top: 250px;
  }
  
  /* LOCATIONS PAGE */

.locations{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .locations-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

  .raymond-card{
    z-index: 1000;
    background-color: white;
    color: gray;
    height: auto;
    width: auto;
    border-radius: 20px 0 0 20px;
    margin: 0;
    padding: 20px 30px 50px 30px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }

  .raymond-map{
    z-index: 1000;
    background-color: #f1f1f1;
    height: 350px;
    width: 400px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }

  .locations h2 {
    margin-top: 20px;
  }

  iframe{
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }

@media screen and (max-width: 790px) {
  .raymond-card {
    border-radius: 20px 20px 0 0;
    padding: 10px 60px 60px 40px;
  }

  .raymond-map{
    width: 350px;
  }
}

  /* PRICING PAGE */

  main.services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .services-container {
    width: 1000px;
    height: 100%;
    margin-inline: 20px;
    background-color: white;
    z-index: 10;
    border-radius: 10px;
    padding: 20px;
  }

  .options {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

/* CONTACT PAGE */

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  color: gray;
  z-index: 1;
  height: auto;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}