/* DEFAULTS */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: lightgray;
    height: 80px;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
}

   header a {
    color: lightgray;
    transition: all .2s;
   }

   header a:hover {
    color: white;
   }

   header p{
    padding-left: 15px;
    font-size: x-large;
    font-weight: bold;
   }

.hamburger{
  display: none;
  font-size: 2rem;
  background: none;
  color: lightgray;
  border: none;
  cursor: pointer;
  transition: all .2s;
  margin-right: 20px
}

.hamburger:hover{
  color: white;
}

/* MOBILE STYLES */

@media (max-width: 770px) {
  .nav-links {
    position: absolute;
    top: 80px; /* directly below header */
    right: 0;
    width: auto;
    background: black;
    z-index: 10;
    border-bottom-left-radius: 20px;

    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 20px;
    gap: 10px;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .nav-links.show {
    max-height: 500px;
  }

  .nav-links li {
    padding-bottom: 20px;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 771px) {
  .nav-links {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-links li {
    display: inline;
    padding-inline: 20px;
    font-size: large;
  }
}

main {
    background-image: url(Images/Semi\ 1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*To auto fill background image to view height*/
    background-position: center;
    flex: 1; /*To auto fill background image to view height*/
    position: relative;
    z-index: 0;
}

footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: lightgray;
    bottom: 0px;
    text-align: center;
}

/* Background Haze */

main.services::before,
main.locations::before,
main.contact::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.2); /* light fog */
    backdrop-filter: blur(4px); /* actual blur effect */
    z-index: 0; /* sits below your content */
    pointer-events: none;
  }

  /* HOME PAGE */

  .home-banner{
    background-color: white;
    position: absolute;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:darkgrey;
    text-align: center;
  }

  .book-now {
    display: flex;
    justify-content: center;
    margin-top: 300px;
  }
  
  .book-now a{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: coral;
    color: white;
    border-radius: 20px;
    transition: .2s;
  }

  .book-now a:hover {
    background-color: rgb(255, 92, 33);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* LOCATIONS PAGE */

.locations{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .locations-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 20px;
  column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

  .churchman-card, .churchman-map, .raymond-card, .raymond-map{
    z-index: 1000;
    background-color: #f1f1f1;
    height: 300px;
    width: 375px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }

  .locations h2 {
    margin-top: 20px;
  }

  iframe{
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }

@media screen and (max-width: 790px) {
  .locations-container {
    grid-template-columns: 1fr; /* Forces all items into one column */
  }
}

  /* PRICING PAGE */

  main.services {
    display: flex;
    justify-content: center;
  }

  .services-container {
    margin-top: 5%;
    margin-bottom: 20px;
    width: 1000px;
    height: 100%;
    margin-inline: 20px;
    background-color: white;
    z-index: 10;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 60px;
  }

  .options {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

/* CONTACT PAGE */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5%;
  justify-content: center;
}

.profile {
  background-color: white;
  width: 250px;
  height: 250px;
  z-index: 1;
  background-image: url(Images/Profile.JPG);
  background-size: cover;
  border-radius: 300px;
}

.contact-text {
  background-color: white;
  z-index: 1;
  height: min-content;
  padding: 10px;
  border-radius: 15px;
  width: 60vw;
  text-align: center;
}
